commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/91write_environment.py":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env python
      import json
      import boto3
      env_name = json.load(open("/opt/elasticbeanstalk/deploy/configuration/containerconfiguration"))['system']['environment_name']
      print env_name
      client = boto3.client('dynamodb')
      data = client.get_item(TableName='config',Key={"env":{'S':'wallOfUs-staging'}})['Item']['value']['S']
      print "length of data is ", len(data)
