commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/91write_environment.py":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env python
      import json
      print json.load(open("/opt/elasticbeanstalk/deploy/configuration/containerconfiguration"))['system']['environment_name']
