commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/91write_environment.py":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env python
      import json
      import os
      import subprocess

      subprocess.call(["pip","install","boto3"])
      import boto3
      env_name = json.load(open("/opt/elasticbeanstalk/deploy/configuration/containerconfiguration"))['system']['environment_name']
      print env_name
      client = boto3.client('dynamodb', region_name='us-west-2')
      data = client.get_item(TableName='config',Key={"env":{'S':'wallOfUs-staging'}})['Item']['value']['S']

      with os.fdopen(os.open('/var/app/current/.env', os.O_WRONLY | os.O_CREAT, 0o600), 'w') as handle:
        handle.write(data)
