commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/92_maybe_copy_htaccess.py":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env python
      import json
      from shutil import copyfile

      config = json.load(open("/opt/elasticbeanstalk/deploy/configuration/containerconfiguration"))
      env_name = config['system']['environment_name']
      user = config['container']['app_user']

      if "wallOfUs-env" != env_name:
        print "Not production, turning on .htaccess"
        open("/var/app/current/.htaccess", "w").write('Order deny,allow\nDeny from all\nAuthName "password please"\nAuthUserFile /var/app/current/.htpasswd\nAuthType Basic\nRequire valid-user\nSetEnvIf X-Forwarded-For "\\.(.*)$" proxy_env\nAllow from env=!proxy_env\nSatisfy Any\n')
