commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/02_get_public_keys.py":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env python
      import subprocess
      import os

      subprocess.call(["pip","install","boto3"])
      import boto3
      client = boto3.client('dynamodb', region_name='us-west-2')
      data = client.get_item(TableName='config',Key={"key":{'S':'pub_keys'}})['Item']['value']['S']
      print "Getting public keys from dynamoDB"
      with os.fdopen(os.open('/home/ec2-user/.ssh/extra_authorized_keys', os.O_WRONLY | os.O_CREAT, 0o400), 'w') as handle:
        handle.write(data)
      subprocess.call(["chown","ec2-user:ec2-user","/var/app/current/.env"])


commands:
  01_append_keys:
    cwd: /home/ec2-user/.ssh/
    command: sort -u extra_authorized_keys authorized_keys -o authorized_keys
  99_rm_extra_keys:
    cwd: /home/ec2-user/.ssh/
    command: rm extra_authorized_keys
    